{% extends 'squirrels/base.html' %}
{% load static %}
{% block title %}
- All Sightings
{% endblock %}
{% block main %}
    <b>
        {% if status != "Error"  %}
            The following data {{ status }} successfully.
            <table>
        <tr><td>Sighting ID: </td><td>{{ sighting.id }}</td></tr>
     <tr><td>Squirrel ID: </td><td>{{ sighting.sq_id }}</td></tr>
     <tr><td>Longitude</td><td>{{sighting.X}}</td></tr>
        <tr><td>Latitude</td><td>{{sighting.Y}}</td></tr>
     <tr><td>Shift</td><td>{{sighting.Shift}}</td></tr>
     <tr><td>Date</td><td>{{sighting.Date}}</td></tr>
     <tr><td>Age</td><td>{{sighting.Age}}</td></tr>
    </table>
        {% else %}
            Error saving the form.
        {% endif %}
    </b>


{% endblock %}
{% block extra_footer %}
{% endblock %}