<!doctype html>
<html>
    <body>
    <form method="POST" action="/sightings/update/">
        {% csrf_token %}
    <table>
        <tr><td>Sighting ID: </td><td>{{ sighting.id }}</td></tr>
     <tr><td>Squirrel ID: </td><td>{{ sighting.sq_id }}</td></tr>
     <tr><td>Longitude</td><td><input type="text" name="long_id" size="50" value="{{sighting.X}}"/></td></tr>
        <tr><td>Latitude</td><td><input type="text" name="lat_id" size="50" value="{{sighting.Y}}"/></td></tr>
     <tr><td>Shift</td><td><input type="text" name="Shift_id" value="{{sighting.Shift}}"/></td></tr>
     <tr><td>Date</td><td><input type="text" name="Date_id" value="{{sighting.Date}}"/></td></tr>
     <tr><td>Age</td><td><input type="text" name="Age_id" value="{{sighting.Age}}"/></td></tr>
    </table>
    <input type="submit" name="submit_id" value="Update" /> <input type="submit" name="submit_id" value="Cancel" />
        </form>
    </body>
</html>
