{% extends 'squirrels/base.html' %}
{% load static %}
{% block title %}
- All Sightings
{% endblock %}
{% block main %}
	<table>
		<tr>
			<th>Link to Detail Page</th>
			<th>Unique Squirrel ID</th>
			<th>Date</th>
		</tr>
		{% for sighting in sightings %}
		<tr> 
			<td>
			  <li>
		 	    <a href="{% url 'squirrels:detail' sighting.id %}">{{ sighting.id }}</a>
			  </li>
			</td>
			<td>{{ sighting.sq_id }}</td>
			<td>{{ sighting.Date }}</td>
		</tr>
		{% endfor %}
	</table>

{% endblock %}
{% block extra_footer %}
{% endblock %}