{% extends 'squirrels/base.html' %}
{% load static %}
{% block title %}
- All Sightings
{% endblock %}
{% block main %}
<div>
<table border="1">
    <tr><th>Age</th> <th>Count</th></tr>
{% for a in age %}
    <tr><td>{{ a.Age }}</td><td>{{ a.total }} </td>
{% endfor %}
</table>

<table border="1">
    <tr><th>Shift</th> <th>Count</th></tr>
{% for a in shift %}
    <tr><td>{{ a.Shift }}</td><td>{{ a.total }} </td>
{% endfor %}
</table>

<table border="1">
    <tr><th>Running</th> <th>Count</th></tr>
{% for a in running %}
    <tr><td>{{ a.Running }}</td><td>{{ a.total }} </td>
{% endfor %}
</table>

<table border="1">
    <tr><th>Eating</th> <th>Count</th></tr>
{% for a in eating %}
    <tr><td>{{ a.Eating }}</td><td>{{ a.total }} </td>
{% endfor %}
</table>

<table border="1">
    <tr><th>Date</th> <th>Count</th></tr>
{% for a in date %}
    <tr><td>{{ a.Date }}</td><td>{{ a.total }} </td>
{% endfor %}
</table>
</div>
{% endblock %}
{% block extra_footer %}
{% endblock %}